@import url(login_page.css);
@import url(game_page.css);
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  }
  section {
    padding: 1em 0;
    margin: 1rem;
  }
  .split {
    display: flex;
    flex-direction: column;
  }

  @media (min-width:50rem) {
    .split {
      flex-direction: row;
    }
    .split>* {
      flex-basis: 100%;
    }

}
.hideElement {
  display: none;
}

