@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

.split {
  display: flex;
  flex-direction: column;
}

@media (max-width: 300px) {
  .split {
    flex-direction: row;
  }
  .split > * {
    flex-basis: 100%;
  }
}
.hideElement {
  display: none;
}

